$black: #242423;
$gray: #333533;
$lightgray: #808389;
$yellow: #f5cb5c;
$red: #ef233c;
$blue: #3a86ff;
$green: #06d6a0;
$light: #e8eddf;
$darkerLight: #cfdbd5;

$bouceTransition: cubic-bezier(.47, 1.64, .41, .8);