@import '../../styles/varibles';

.light {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    margin-right: 3rem;
    
    &:before {
        content: '';
        height: 24px;
        width: 20px;
        background-color: $gray;
        position: absolute;
        left: 50%;
        top: -15px;
        transform: translateX(-50%);
        border-top-left-radius: 20%;
        border-top-right-radius: 20%;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
    }
    
    &.green {
        background-color: $green;
    }
    &.red {
        background-color: $red;
    }
    &.yellow {
        background-color: $yellow;
    }
    &.blue {
        background-color: $blue;
    }
}